body {
    main {
        #categorySlider {
            padding: 25px 0px;
            margin-top: 80px;

            .categoryTitle {
                h3 {
                    font-size: 22px;
                    line-height: 28px;
                    font-weight: 700;
                    color: #111;
                    margin-bottom: 10px;
                }
            }

            .owl-carousel {
                padding: 0px 40px;

                .owl-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    #carouselBox a {
                        color: #333;
                        width: 96px;

                        .imageBox {
                            width: 76px;
                            height: 76px;
                            border-radius: 100px;
                            padding: 20px 20px;
                            background: #fff;
                            margin: 0 auto 8px auto;
                            // overflow: hidden;
                            transform: scale(1);
                            transition: 0.4s;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;

                            img {
                                width: auto;
                                height: auto;
                                margin: auto;
                                max-width: 36px;
                                max-height: 36px;
                            }
                        }

                        .iconBox {
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;

                            color: white;
                            width: 76px;
                            height: 76px;
                            border-radius: 100px;
                            padding: 20px 20px;
                            background-color: #32CD32;
                            margin: 0 auto 8px auto;
                            transform: scale(1);
                            transition: 0.4s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 28px;

                        }

                        h3 {
                            float: left;
                            width: 100%;
                            text-align: center;
                            font-size: 17px;
                            font-weight: 400;
                        }
                    }
                }

                .owl-nav {
                    z-index: 2;
                    opacity: 0;
                    transition: all 0.2s;
                    height: 0px;

                    button {
                        .owlLeft {
                            position: absolute;
                            top: 28px;
                            left: 2.5%;
                            color: gray;
                            font-size: 20px;
                            border-radius: 100%;
                            padding: 4px 8px 4px 8px;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }

                        .owlRight {
                            position: absolute;
                            top: 28px;
                            right: 2.5%;
                            color: gray;
                            font-size: 20px;
                            border-radius: 100%;
                            padding: 4px 8px 4px 8px;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        }
                    }

                    .disabled {
                        opacity: 0.3;
                    }

                }

            }


            .owl-carousel:hover {
                .owl-nav {
                    opacity: 1;
                }
            }
        }

        
    }
}