@media only screen and (max-width: 1200px) {

    main {
        #posterInfoUpBox {
            .container {
                .row {
                    .posterService {
                        .colInfo {
                            .detailServiceBox {
                                .detailServiceButton {
                                    .preButton {
                                        width: 94% !important;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #vipServiceModal {

            .modal-dialog {
                margin-top: 10%;
            }
        }

        #PremiumServiceModal {

            .modal-dialog {
                margin-top: 10%;
            }
        }


    }


}

@media only screen and (max-width: 992px) {
    header {
        #headSearch {
            .casket {
                .row {
                    .headSearch {
                        form {

                            select {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }

        }


    }

    main {

        #breadCrumbs {
            .casket {
                .row {
                    .breadCrumbBox {

                        padding-left: 0.1% !important;


                    }
                }
            }
        }

        #posterInfoUpBox {
            .container {
                .row {
                    .posterInfo {
                        flex-direction: column !important;
                        flex-wrap: wrap-reverse;

                        .posterTitleBox {
                            order: 2;

                            .titleBox {

                                h3 {}
                            }


                        }

                        .posterPriceBox {
                            text-align: end !important;
                            order: 1;

                            p {
                                width: 100%;
                            }
                        }

                    }
                }
            }
        }

        #posterInfoDownBox {
            .posterInfo {
                justify-content: end;

                .posterFeaturesBox {

                    .posterFeatures {}
                }

                .posterAuthorView {}

                .posterAuthor {
                    margin-left: 10px;
                    margin-top: 6px;
                }
            }

        }

        #vipServiceModal {

            .modal-dialog {
                margin-top: 15%;
            }
        }

        #PremiumServiceModal {

            .modal-dialog {
                margin-top: 15%;
            }
        }
    }

    footer {
        #footerCopyright {
            .casket {
                .row {
                    .copyRightBox {

                        p {
                            transition: all 0.4s;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {


    .mediaB800 {
        transition: all 0.4s;

        display: block !important;
    }

    header {

        #headerUp {
            .headLogo {
                .headImageBox {
                    a {
                        img {
                            margin-left: 13px;
                        }
                    }
                }
            }

            .headCreateLogin {
                .headLogin {

                    a {
                        padding-right: 20px !important;
                    }
                }
            }
        }

        #headSearch {

            // padding: 0px 5px;
            .casket {
                .row {
                    .headSearch {
                        form {

                            a {
                                i {
                                    padding-right: 4px;
                                }
                            }


                            button {
                                margin-left: 5px !important;
                                width: 105px;
                                height: 37px;
                            }
                        }
                    }
                }
            }

        }

        #tabBar {
            .tabBar-ul {
                .tabBar-li-main {
                    left: 14% !important;
                }

                .tabBar-li-rules {
                    left: 30% !important;
                }

                .tabBar-li-contact {
                    right: 30% !important;

                }

                .tabBar-li-login {
                    right: 14% !important;
                }

                .tabBar-li-addIcon {}
            }
        }
    }

    main {
        #categorySlider {
            padding: 5px 0px !important;

            .owl-carousel {
                padding: 0px 5px !important;

                .owl-nav {
                    button {
                        .owlLeft {
                            position: absolute;
                            top: 28px;
                            left: -6px;
                        }

                        .owlRight {
                            position: absolute;
                            top: 28px;
                            right: -6px;
                        }
                    }
                }
            }
        }

        #posters {}

        .posters {

            margin-bottom: 65px;
        }

        #detailSlider {
            margin-bottom: 103px;
        }

        #userTerm {
            margin-bottom: 102px;

            .container {
                .row {
                    .userTermTitle {
                        h1 {}
                    }

                    .userTermBody {
                        padding: 0px 10px;

                        .userTermActions800 {
                            display: flex;
                        }

                        .userTermActions {
                            display: none !important;
                        }

                        .userTermActionsBody800 {
                            padding-left: 8px;
                        }
                    }
                }
            }
        }

        #createPoster {
            margin-bottom: 200px;

            .container {
                .row {
                    .formBox {
                        form {

                            .form-select {
                                width: 90%;
                            }

                            .form-control {
                                width: 90%;
                            }

                            .posterImages {


                                #temperoryImages {
                                    .imageBox {
                                        width: 150px;
                                        height: 130px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }

                            .posterPriceBox {


                                .posterPrice {
                                    flex-direction: column;
                                    align-items: start;
                                    margin-top: 10px;
                                    margin-left: 0px !important;


                                    .posterPriceCurrency {
                                        margin-top: 10px;
                                        padding-left: 10px !important;

                                        .form-check {
                                        }

                                        label {
                                            margin-right: 10px;
                                            padding-right: 0px !important;


                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

    }

    footer {
        #footerCopyright {
            margin-bottom: 63px;

            .casket {
                .row {
                    .copyRightBox {

                        p {
                            transition: all 0.4s;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    header {
        .media800 {

            transition: all 0.4s;
            display: none;
        }

        #headSearch {

            .casket {
                .row {
                    .headSearch {
                        form {
                            justify-content: center !important;

                            input {
                                border-top-right-radius: 0.375rem !important;
                                border-bottom-right-radius: 0.375rem !important;
                                border: 1px #dee2e6 solid !important;
                                border-left: none !important;
                            }
                        }
                    }
                }
            }

        }
    }

    main {

        #breadCrumbs {

            .casket {
                .row {

                    .breadCrumbBox {
                        padding-left: 1.8% !important;

                        ul {

                            li {
                                a {
                                    span {
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #posters {
            padding: 15px 0px;

            .container {
                max-width: 100%;

                .row {
                    .posterBoxs {
                        align-items: center;

                        .posterCol {
                            display: flex;
                            justify-content: center !important;

                            .posterBox {

                                width: 95% !important;
                                height: 247px !important;
                                margin-bottom: 15px;

                                .posterImageBox {
                                    height: 180px;
                                }

                                .posterDetailBox {
                                    .posterPriceBox {
                                        max-height: 26px;
                                        overflow: hidden;

                                        a {

                                            span {
                                                font-size: 18px;
                                                padding: 0 10px !important;
                                            }
                                        }
                                    }

                                    .posterNameBox {
                                        padding: 1px 0px !important;

                                        a {
                                            h4 {
                                                max-height: 17.4px !important;
                                                font-size: 16px;
                                                padding: 0 10px;
                                            }
                                        }
                                    }

                                    .posterCreatedBox {
                                        a {
                                            position: absolute;
                                            right: 5px;
                                            bottom: 0px;

                                            span {
                                                width: 80%;
                                                padding: 0 10px;
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }

                            }
                        }



                    }
                }

                .navRow {
                    padding-left: 8px;
                }
            }
        }

        #posterInfoUpBox {
            .container {
                .row {
                    .posterInfo {
                        .posterTitleBox {
                            .titleBox {
                                h3 {
                                    font-size: 18px;
                                }
                            }
                        }

                        .posterPriceBox {
                            p {
                                height: 80px !important;
                                font-size: 26px;
                            }
                        }
                    }

                    .posterService {
                        padding-left: 15px;

                        .colInfo {
                            .detailServiceBox {
                                display: flex !important;

                                .detailServiceButton {
                                    button {
                                        // width: 266px;
                                        margin-bottom: 5px;
                                    }

                                    .preButton {
                                        margin-left: 0px !important;
                                        width: 100% !important;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #vipServiceModal {

            .modal-dialog {
                margin-top: 18%;
            }
        }

        #PremiumServiceModal {

            .modal-dialog {
                margin-top: 18%;
            }
        }
    }

    footer {
        #footerCopyright {
            margin-bottom: 63px;

            .casket {
                .row {
                    .copyRightBox {

                        p {
                            transition: all 0.4s;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    main {

        #breadCrumbs {
            .casket {
                .row {
                    .breadCrumbBox {
                        padding-left: 0.2% !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        #tabBar {
            .tabBar-ul {
                .tabBar-li-main {
                    left: 9% !important;
                }

                .tabBar-li-rules {
                    left: 26% !important;
                }

                .tabBar-li-contact {
                    right: 26% !important;

                }

                .tabBar-li-login {
                    right: 9% !important;
                }

                .tabBar-li-addIcon {}
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    main {

        #breadCrumbs {
            .casket {
                .row {
                    justify-content: start !important;

                    .breadCrumbBox {
                        position: relative;
                        top: 0;
                        left: 14.5%;

                        ul {
                            li {
                                a {
                                    span {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #posters {
            .container {
                .row {
                    .posterBoxs {
                        .posterCol {
                            .posterBox {
                                .posterDetailBox {
                                    .posterPriceBox {

                                        margin-top: 5px;

                                    }

                                    .posterCreatedBox {
                                        display: none;
                                        transition: all 0.3s;
                                    }
                                }

                            }
                        }



                    }
                }
            }
        }

        #posterInfoUpBox {
            .container {
                .row {
                    .posterInfo {
                        padding: 0px 20px !important;

                        .posterTitleBox {
                            margin-bottom: 10px;
                            padding-left: 0px;

                            .titleBox {

                                h3 {
                                    font-size: 20px;
                                }
                            }


                        }

                        .posterPriceBox {
                            display: flex;
                            justify-content: end;

                            p {
                                width: 42% !important;
                            }
                        }
                    }

                    .posterService {
                        .colInfo {
                            .detailServiceBox {
                                .detailServiceButton {
                                    button {
                                        width: 90% !important;

                                    }

                                    .preButton {
                                        width: 90% !important;

                                    }

                                }
                            }
                        }
                    }

                }
            }
        }

        #posterInfoDownBox {
            .posterInfo {
                justify-content: center !important;

                .posterFeaturesBox {
                    order: 3;
                    padding-left: 0px !important;

                    .posterFeatures {}
                }

                .posterAuthorView {
                    margin-top: 10px;
                    order: 3;
                    padding-left: 0px !important;
                    margin-left: 0px !important;

                    .posterViewTimeInfo {
                        padding: 15px 15px;
                        margin-left: 0px !important;
                        margin-right: 0px !important;
                    }
                }

                .posterAuthor {
                    margin-left: 0px !important;
                    order: 1;
                    margin-bottom: 10px;

                }
            }

        }

        #vipServiceModal {
            padding: 0px 5px;

            .modal-dialog {
                margin-top: 21%;
            }
        }


        #PremiumServiceModal {
            padding: 0px 5px;

            .modal-dialog {
                margin-top: 21%;
            }
        }
    }
}


@media only screen and (max-width: 540px) {
    main {

        #breadCrumbs {
            .casket {
                .row {

                    .breadCrumbBox {

                        left: 13%;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 500px) {
    main {

        #breadCrumbs {
            .casket {
                .row {

                    .breadCrumbBox {

                        left: 11%;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 460px) {
    header {
        #tabBar {
            .tabBar-ul {
                .tabBar-li-main {
                    left: 5% !important;
                }

                .tabBar-li-rules {
                    left: 22% !important;
                }

                .tabBar-li-contact {
                    right: 22% !important;

                }

                .tabBar-li-login {
                    right: 5% !important;
                }

                .tabBar-li-addIcon {}
            }
        }
    }

    main {
        #posterInfoUpBox {
            .container {
                .row {
                    .posterInfo {
                        padding: 0px 10px !important;
                    }
                }
            }
        }

        #breadCrumbs {
            .casket {
                .row {

                    .breadCrumbBox {

                        left: 9%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 420px) {

    main {
        #breadCrumbs {
            .casket {
                .row {
                    .breadCrumbBox {
                        left: 6.5%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 370px) {
    header {
        #tabBar {
            .tabBar-ul {
                .tabBar-li-main {
                    left: 5% !important;

                }

                .tabBar-li-rules {
                    left: 20% !important;
                }

                .tabBar-li-contact {
                    right: 20% !important;

                }

                .tabBar-li-login {
                    right: 5% !important;
                }

                .tabBar-li-addIcon {
                    transition: all 0.4s;
                    right: 0% !important;
                    left: 5% !important;

                }

                li {
                    a {
                        i {
                            transition: all 0.4s;
                            font-size: 15px;
                        }

                        span {
                            font-size: 7px;
                            transition: all 0.4s;
                        }
                    }
                }
            }
        }
    }

    main {
        #posterInfoUpBox {
            .container {
                .row {
                    .posterInfo {

                        .posterPriceBox {

                            p {
                                width: 42% !important;
                            }
                        }

                    }

                }
            }
        }

        #breadCrumbs {
            .casket {
                .row {
                    .breadCrumbBox {
                        left: 5%;
                    }
                }
            }
        }
    }


}